body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
  font: 100%/1.5 system-ui;
  padding: 10px;
  font-family: serif;
  align-items: center;
  text-align: center;
  }

  #bubble-chart {
    width: 100%;
    max-width: 1000px; /* Limits size for better layout */
    height: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #controls {
    text-align: center;
    margin-bottom: 10px;
  }
  
  #population-slider {
    width: 300px;
  }
  
  #population-value {
    font-weight: bold;
    margin-left: 10px;
  }